#sporters{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto auto auto;
  grid-template-areas: "menu"
                       "titel"
                       "tekst"
                       "info"
                       "footer";
  
  grid-gap: 10px;
}

#menu{
  grid-area:menu;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#menu>a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 4px;
}

#menu>a:hover{
  background-color: lightgray;
}


#titelBS{
  grid-area: titel;
  margin-left: 16px;
  margin-right: 16px;
}

#titelBS>h3{
  padding: 16px 0;
  font-size: 24px;
  border-bottom: 1px solid #f1f1f1;
}

#tekstBS{
  grid-area: tekst;
  margin-left: 16px;
  margin-right: 16px;
}

#infoBS{
  grid-area: info;
  padding-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

#footer{
  grid-area: footer;
  bottom: 0;
  width: 100%;
  background-color: black;
  margin-top: 25px;
  padding: 16px 0px;
}

#footer>p{
  text-align: center;
  background-color: black;
  color: white;
}

.fotoBS{
  width: 100%;
  height: 100%;
  display: block;
}

.naam{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0;
}

.sport{
  margin: 15px 0;
  opacity: 0.60;
}

.knop{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.knop:hover{
  background-color: lightgray;
}
