#home{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "menu"
                       "slideshow"
                       "footer";
}

#menu{
  grid-area:menu;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#menu>a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 4px;
}

#menu>a:hover{
  background-color: lightgray;
}

#slideshowH{
  grid-area: slideshow;
}

#footer{
  grid-area: footer;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 16px 0px;
}

#footer>p{
  text-align: center;
  background-color: black;
  color: white;
}
